.MoviesRatingFilter {
    margin-top: 12px;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.inputContainer {
    width: 100%;
    padding: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #151C1F;
    border-radius: 8px;
    margin-top: 8px;
}

.input {
    width: 80px;
    background-color: #30363d;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    color: #DBDBDB;
}

.error {
    font-size: 16px;
    color: red;
}
